*{
    padding: 0%;
    margin: 0%;

}
.ContainerComming{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:repeat(1, 1fr);
    column-gap: 10px; 
    row-gap: 10px;
}
.h2Comming {
    font-family: 'Bungee Inline', cursive;
    font-size: 250%;
    background-color:  #220440;
    color: chartreuse;
    grid-column: 1;
    grid-row:1;
    text-align: center;
    text-shadow: -1px 1px #8dcc19, -1px -1px #ffffff, 1px -1px #ffffff, 1px 1px #f3f3f2, 3px 3px #6ac77e;
    letter-spacing: 10px;
    overflow: hidden;
}


.ContainerComming2{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(6, 1fr) repeat(1, 0.3fr) repeat(3, 1fr);
    grid-template-rows:repeat(9, 1fr) ;
    column-gap: 10px; 
    row-gap: 10px;
    align-content: center;
    margin-left: 2.5%;
    overflow: hidden;

}
.movie1{
    grid-column: 1/3;
    grid-row:1/1;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color:  #220440;
    color: #44b3d7;
    list-style: none;
    text-align: center;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:120%;
    padding: 0%;

}
.movie1:hover {
    text-shadow: -1px 1px #8dcc19, -1px -1px #ffffff, 1px -1px #ffffff, 1px 1px #f3f3f2, 3px 3px #6ac77e;
}
.imgMovie1 {
    grid-column: 1/3;
    grid-row:2/4;
}
.imgMovie1:hover {
    filter: grayscale(100%);
}
.movie2{
    grid-column: 3/5;
    grid-row:1/1;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color:  #220440;
    color: #44b3d7;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:120%;
    padding: 0%;
    margin: 2%;
}
.movie2:hover {
    text-shadow: -1px 1px #8dcc19, -1px -1px #ffffff, 1px -1px #ffffff, 1px 1px #f3f3f2, 3px 3px #6ac77e;
}
.imgMovie2 {
    grid-column: 3/5;
    grid-row:2/4;

}
.imgMovie2:hover {
    filter: grayscale(100%);
}
.movie3{
    grid-column: 5/7;
    grid-row:1/1;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color:  #220440;
    color: #44b3d7;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:120%;
    padding: 0%;
    margin: 2%;
}
.movie3:hover {
    text-shadow: -1px 1px #8dcc19, -1px -1px #ffffff, 1px -1px #ffffff, 1px 1px #f3f3f2, 3px 3px #6ac77e;
}
.imgMovie3 {
    grid-column: 5/7;
    grid-row:2/4;
}
.imgMovie3:hover {
    filter: grayscale(100%);
}
.movie4{
    grid-column: 1/3;
    grid-row:4/4;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color:  #220440;
    color: #44b3d7;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:120%;
    padding: 0%;
    margin: 2%;
}
.movie4:hover {
    text-shadow: -1px 1px #8dcc19, -1px -1px #ffffff, 1px -1px #ffffff, 1px 1px #f3f3f2, 3px 3px #6ac77e;
}
.imgMovie4 {
    grid-column: 1/3;
    grid-row:5/7;
}
.imgMovie4:hover {
    filter: grayscale(100%);
}
.movie5{
    grid-column: 3/5;
    grid-row:4/4;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color:  #220440;
    color: #44b3d7;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:120%;
    padding: 0%;
    margin: 2%;
}
.movie5:hover {
    text-shadow: -1px 1px #8dcc19, -1px -1px #ffffff, 1px -1px #ffffff, 1px 1px #f3f3f2, 3px 3px #6ac77e;
}
.imgMovie5 {
    grid-column: 3/5;
    grid-row:5/7;
}
.imgMovie5:hover {
    filter: grayscale(100%);
}
.movie6{
    grid-column: 5/7;
    grid-row:4/4;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color:  #220440;
    color: #44b3d7;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:120%;
    padding: 0%;
    margin: 2%;
}
.movie6:hover {
    text-shadow: -1px 1px #8dcc19, -1px -1px #ffffff, 1px -1px #ffffff, 1px 1px #f3f3f2, 3px 3px #6ac77e;
}
.imgMovie6 {
    grid-column: 5/7;
    grid-row:5/7;
}
.imgMovie6:hover {
    filter: grayscale(100%);
}
.movie7{
    grid-column: 1/3;
    grid-row:7/7;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color:  #220440;
    color: #44b3d7;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:120%;
    padding: 0%;
    margin: 2%;
}
.movie7:hover {
    text-shadow: -1px 1px #8dcc19, -1px -1px #ffffff, 1px -1px #ffffff, 1px 1px #f3f3f2, 3px 3px #6ac77e;
}
.imgMovie7 {
    grid-column: 1/3;
    grid-row:8/10;
}
.imgMovie7:hover {
    filter: grayscale(100%);
}
.movie8{
    grid-column: 3/5;
    grid-row:7/7;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color:  #220440;
    color: #44b3d7;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:120%;
    padding: 0%;
    margin: 2%;
}
.movie8:hover {
    text-shadow: -1px 1px #8dcc19, -1px -1px #ffffff, 1px -1px #ffffff, 1px 1px #f3f3f2, 3px 3px #6ac77e;
}
.imgMovie8 {
    grid-column: 3/5;
    grid-row:8/10;
}
.imgMovie8:hover {
    filter: grayscale(100%);

}
.movie9{
    grid-column: 5/7;
    grid-row:7/7;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color:  #220440;
    color: #44b3d7;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height:120%;
    padding: 0%;
    margin: 2%;
}
.movie9:hover {
    text-shadow: -1px 1px #8dcc19, -1px -1px #ffffff, 1px -1px #ffffff, 1px 1px #f3f3f2, 3px 3px #6ac77e;
}
.imgMovie9 {
    grid-column: 5/7;
    grid-row:8/10;
}
.imgMovie9:hover {
    filter: grayscale(100%);
}

.h3Comming {
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color:  #220440;
    color: rgb(208, 255, 0);
    grid-column: 1;
    grid-row:1;
    text-align: center;
    padding: 0%;
    line-height: 150%;
    letter-spacing: 10px;
    overflow: hidden;
    padding-top: 7%;
}

.ContainerComming3{
    width: 100%;
    grid-column: 8/11;
    grid-row:1/10;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:repeat(15, 1fr);
    column-gap: 10px; 
    row-gap: 10px;
}

.June {
    grid-column: 1/1;
    grid-row:2/4;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color:  #2b0752;
    color: #44b3d7;
    list-style: none;
    text-align: center;
}
.July {
    
    grid-column: 1/1;
    grid-row:4/6;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color: #2b0752;
    color: #44b3d7;
    list-style: none;
    text-align: center;
}
.August {
    grid-column: 1/1;
    grid-row:6/8;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color: #2b0752;
    color: #44b3d7;
    list-style: none;
    text-align: center;
}
.September {
    grid-column: 1/1;
    grid-row:8/10;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color: #2b0752;
    color: #44b3d7;
    list-style: none;
    text-align: center;
}
.October {
    grid-column: 1/1;
    grid-row:10/12;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color: #2b0752;
    color: #44b3d7;
    list-style: none;
    text-align: center;
} 
.November {
    grid-column: 1/1;
    grid-row:12/14;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color: #2b0752;
    color: #44b3d7;
    list-style: none;
    text-align: center;
}
.December {
    grid-column: 1/1;
    grid-row:14/16;
    font-family: 'Bungee Inline', cursive;
    font-size: 150%;
    background-color: #2b0752;
    color: #44b3d7;
    list-style: none;
    text-align: center;
} 

.TextComming {
    background-color: #2b0752;
    color: #44b3d7;
    list-style: none;
    text-align: center;
    font-family: 'Share', cursive;
}

.buttonComming {
    font-family: 'Sansita', sans-serif;
}